{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Menu Item</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="50" class="form-control" name="name"placeholder="Name of the alignments">

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the alignments"></textarea>

					<label for="abilities">abilities:</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type ="text" class="form-control" maxlength="10" name="abilities" placeholder="abilities of ">
					</div>
					<label for="alignments">alignments:</label>
					<div class="radio">
					  <label>
					    <input type="radio" name="alignments" id="alignments1" value="Good">Good
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="alignments" id="alignments2" value="Neutral">Neutral
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="alignments" id="alignments3" value="Fluid">Fluid
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="alignments" id="alignments4" value="Evil">Evil
					  </label>
					</div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Create</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
